POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=fintv
POSTGRES_USER=fintv
POSTGRES_PASSWORD=fintv
JELLYFIN_URL=http://127.0.0.1:8096
TZ=America/Chicago
PORT=8097
CHANNELFLOW_PUBLIC_URL=
CHANNELFLOW_PATH_BASE=
FFMPEG_HWACCEL=vaapi
FFMPEG_VAAPI_DEVICE=/dev/dri/renderD128
